[Unit]
Description=uWSGI instance to serve Download Optimizer
After=network.target

[Service]
User=<username>
Group=www-data
WorkingDirectory=<path to>
ExecStart=/usr/bin/uwsgi --ini <path to>/download.ini

[Install]
WantedBy=multi-user.target
