{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"> </script>
<h1 class="title">
  Download Stats
</h1>
</br>
<div class="box">
  <h2 class="subtitle">
      <b>Today's Download Count</b>: {{ daily_total }}
  </h2>
  <h2 class="subtitle">
    <b>Overall Total</b>: {{ overall_total }}
  </h2>
<h2 class="subtitle">
  <b>Past Week Average</b>: {{ week_avrg }}
</h2>
</br>
</br>
  <h2 class="subtitle">
    <b>Monthly Totals</b>
  </h2>
  <canvas id="totals_chart" style="height: 300px; width: 100%;"></canvas>
  <script>
    var ctx = document.getElementById('totals_chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ monthly_totals_labels }},
            datasets: [{
                label: 'Monthly Totals',
                data: {{ monthly_totals_values }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                   'rgba(255, 206, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(153, 102, 255, 0.2)',
                   'rgba(255, 159, 64, 0.2)'
               ],
               borderColor: [
                   'rgba(255, 99, 132, 1)',
                   'rgba(54, 162, 235, 1)',
                   'rgba(255, 206, 86, 1)',
                   'rgba(75, 192, 192, 1)',
                   'rgba(153, 102, 255, 1)',
                   'rgba(255, 159, 64, 1)'
               ],
               borderWidth: 1
           }]
       },
       options: {
           scales: {
               y: {
                   beginAtZero: true
               }
           }
       }
   });
</script>
  </br>
  <h2 class="subtitle">
    <b>Monthly Averages</b>
  </h2>
  <canvas id="avgrs_chart" style="height: 300px; width: 100%;"></canvas>
  <script>
    var ctx = document.getElementById('avgrs_chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ monthly_avrgs_labels }},
            datasets: [{
                label: 'Monthly Averages',
                data: {{ monthly_avrgs_values }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                   'rgba(255, 206, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(153, 102, 255, 0.2)',
                   'rgba(255, 159, 64, 0.2)'
               ],
               borderColor: [
                   'rgba(255, 99, 132, 1)',
                   'rgba(54, 162, 235, 1)',
                   'rgba(255, 206, 86, 1)',
                   'rgba(75, 192, 192, 1)',
                   'rgba(153, 102, 255, 1)',
                   'rgba(255, 159, 64, 1)'
               ],
               borderWidth: 1
           }]
       },
       options: {
           scales: {
               y: {
                   beginAtZero: true
               }
           }
       }
   });
</script>
  </br>
  <h2 class="subtitle">
    <b>Past Week Totals</b>
  </h2>
  <canvas id="week_total_chart" style="height: 300px; width: 100%;"></canvas>
  <script>
    var ctx = document.getElementById('week_total_chart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ week_total_labels }},
            datasets: [{
                label: 'Daily Totals',
                data: {{ week_total_values }},
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                   'rgba(255, 206, 86, 0.2)',
                   'rgba(75, 192, 192, 0.2)',
                   'rgba(153, 102, 255, 0.2)',
                   'rgba(255, 159, 64, 0.2)'
               ],
               borderColor: [
                   'rgba(255, 99, 132, 1)',
                   'rgba(54, 162, 235, 1)',
                   'rgba(255, 206, 86, 1)',
                   'rgba(75, 192, 192, 1)',
                   'rgba(153, 102, 255, 1)',
                   'rgba(255, 159, 64, 1)'
               ],
               borderWidth: 1
           }]
       },
       options: {
           scales: {
               y: {
                   beginAtZero: true
               }
           }
       }
   });
</script>
</br>
<h2 class="subtitle">
  <b>All Time Daily Totals</b>
</h2>
<canvas id="daily_total_chart" style="height: 300px; width: 100%;"></canvas>
<script>
  var ctx = document.getElementById('daily_total_chart').getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: {{ daily_total_labels }},
          datasets: [{
              label: 'Daily Totals',
              data: {{ daily_total_values }},
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                 'rgba(255, 206, 86, 0.2)',
                 'rgba(75, 192, 192, 0.2)',
                 'rgba(153, 102, 255, 0.2)',
                 'rgba(255, 159, 64, 0.2)'
             ],
             borderColor: [
                 'rgba(255, 99, 132, 1)',
                 'rgba(54, 162, 235, 1)',
                 'rgba(255, 206, 86, 1)',
                 'rgba(75, 192, 192, 1)',
                 'rgba(153, 102, 255, 1)',
                 'rgba(255, 159, 64, 1)'
             ],
             borderWidth: 1
         }]
     },
     options: {
         scales: {
             y: {
                 beginAtZero: true
             }
         }
     }
 });
</script>
  </br>
</div>

<a href="{{ about_link }}">About Download-Optimizer</a>

{% endblock %}
